aside { 
    position: absolute;
	right: 7%;
	bottom: 280px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #fff;
	padding: 1px 20px;
	border-radius: 40px;	
 } 
.span {
color: #FFE4E1;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'poppins', times new roman;

}

.header {
	width:100%;
	height:100vh;
	background-image: url(https://miro.medium.com/max/1200/1*OEnS6-DEn56szCwdOs2mrA.jpeg);
	background-position: center;
	background-size: cover;
	color: #fff;
	padding: 0 7%;
	position: relative;

}
nav{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0 10px; 


}
nav ul li {
display: inline-block;
list-style: none;
margin: 10px 30px;

}
.logo{
	width: 160px;
	cursor: pointer;
}
nav ul li a, .menybar {
	text-decoration: none;
	color: #fff;

	font-size: 17px;
	letter-spacing: 1px;
}

.text-box{
	margin-top: 16%;
	font-size: 22px;

}
.text-box h1 {
	font-size: 85px;
	font-weight: 600px;
	line-height: 100px;
	margin-bottom: 10px;

}
.contact {
position: absolute;
	left: 7%;
	bottom: 20px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #fff;
	padding: 1px 20px;
	border-radius: 40px;	

}

.download {
	position: absolute;
	right: 7%;
	bottom: 60px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #fff;
	padding: 5px 5px;
	border-radius: 40px;	
}
.download img{
	width: 25px;
	margin-left: 15px;
	animation: move 2s linear infinite;

}
.field, .name {
width: 50px;
	margin-left: 90px;	
}

#myformSearch {
	margin-top: 16%;
	font-size: 22px;
	
}
div education.h3 {
margin-top: 16%;
	font-size: 22px;	
}

input[type=submit]:hover {
color: #800080;	
}

#industries-form, #educations-form, #home-form, #about-form, #test-form{	
font-weight: bold;
 font-family: times new roman;
 font-size: 30px;
  background-color: rgba(4, 0, 0, 0);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
 box-sizing: border-box;
 word-spacing: 10px;
	

}
#industries-form:hover {
	color: #800080;		
}
#educations-form:hover {
	color: #800080;		
}
#home-form:hover {
	color: #800080;		
}
#about-form:hover {
	color: #800080;		
}
#test-form:hover {
	color: #800080;		
}
.education h2 {
	font-size: 40px;
	font-weight: 20px;
	line-height: 10px;
	margin-bottom: 10px;
	
}
.nameLocale b {
	font-size: 25px;
	font-weight: 600px;
	line-height: 100px;
	margin-bottom: 10px;
	
	
}
#back, #update, #delete {
	display:inline;
    list-style: none;
    margin: 10px 30px;	
    	
}